.app {
  display: flex;
  /* border: 1px solid black; */
  /* justify-content: space-between; */
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}
